body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fixed-header {
    background-color: #1f2937;
    text-align: right;
    width: 100%;
    height: 45px;
    top: 0;
    padding: 20px;
}

.fixed-header img {
    height: 50px;
    width: 50px;
    border-radius: 5%;
    float: left;
    
}

.fixed-header a {
    text-decoration: none;
    text-align: right;
    padding: 20px;
    color: white;
    
}

.head-container {
    margin: 2%;
}
.box-01 {
    background-color: #1f2937;
    width: 100%;
    padding: 15px;
}


.box-01 {
    padding: 15px;
    color: white;
    display: flex;
    align-content:space-evenly;
    align-items: center;
}

.box01-img {
    max-width: 40%;
    margin: 5%;
    

}

.box01-img img {
    padding: 15px;
    float: right;
}
.box02-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
    max-width: 100%;
    justify-content:center;
}





.box02-info {
    color: #1f6cd8;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
}

.box02-container p {
    color: lightblue;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}
.box02-container img {
    height: 150px;
    width: 150px;
    border-radius: 15%;
    margin: 10px;
    padding: 0px;
    border: 5px solid lightblue;
}

.box-03 {
    background-color: lightgray;
}