body {
    margin: 0;
}

.fixed-header {
overflow: hidden;
background-color: #121821;
width: 100%;
top: 0;

}
.fixed-header a {
    float: right;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.head-logo img {
    border-radius: 30px;
    float: left;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.box-01 {
    width: 100%;
    background-color: #121821;
    color: white;
    float: left;
    clear: both;
    text-align: left;
}

.box-01 p {
    text-align: left;
    
}
.box-01 img {
    width: 400px;
    height: 250px;
    padding: 10px;
    float: right;
    border-radius: 20px;

}

.box02-info {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    
}
.box02-container {
    display: flex;
    flex-wrap: nowrap;
}

.box02-container img {
    height: 250px;
    width:  250px;
}
.fixed-footer {
    bottom: 0;
    padding: 20px;
    width: 100%;
    background-color: #121821;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;ß
    color: white;
    text-align: center;
}